p {
  font-family: Lato;
}

.cabeza {
    background-color: beige;
    cursor: pointer;
    
}
.cabeza:hover {
    background-color: chocolate;
    cursor: pointer;
}


.row {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 15px;
}