p {
    font-family: Lato;
  }
  
  .cabeza {
      background-color: beige;
      cursor: pointer;
      
  }
  .cabeza:hover {
      background-color: chocolate;
      cursor: pointer;
  }
  
section {
    background-color: beige;
}
  
body {
    height: 100vh;
    width: 100vh;
}  
 