p {
    font-family: Lato;
    font-size: 50px;
  }
  
  .cabeza {
      background-color: beige;
      cursor: pointer;
      
  }
  .cabeza:hover {
      background-color:chocolate;
      cursor: pointer;
  }
  
.footer {
    margin-top: 10cm;
}

section {
    background-color: beige;
}
  

 