<section>
	<div class="container-fluid">
		<mat-toolbar class="navbar" color="warn">
			<div>
				<div>
					<div class="media"></div>
						<h2 class="mat-display-4"><img src="../assets/icono.png" alt="icono">WIKI REQUESTER</h2>
					</div>
				</div>
			<div>
			<span class="col-4 cabeza"><a href="https://www.w3schools.com">Actualizaciones</a><mat-icon color="primary">android</mat-icon></span>
			<span class="col-4 cabeza"><a href="https://www.wikipedia.org">Wikipedia</a></span>			
			</div>
		</mat-toolbar>
		<br>
		<br>
		<div class="row">
				<app-input-frame></app-input-frame>
      <app-wiki-frame id="wiki"></app-wiki-frame>
		</div>



<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Wiki requester</mat-panel-title>
			<mat-panel-description>Wikipedia</mat-panel-description>
		</mat-expansion-panel-header>
		<p>Facultad de ingeniería de telecomuniaciones e informática</p>
		<p>Soporte y contacto de la aplicación en: <a href="mailto:wikirequester@hotmail.com">Wikirequester@hotmail.com</a></p>
	</mat-expansion-panel>
	</div>

</section>
