<section>
	<div class="container-fluid">

		<div class="row">
				<div class="col-7">
					<div class="media"></div>
			<h2><img src="../assets/icono.png" alt="icono">WIKI REQUESTER</h2>
				</div>
		</div>

		<div class="row">
			<div class="col-4 cabeza"><a href="https://www.w3schools.com">Proximas actualizaciones de la Aplicación</a></div>
			<div class="w-100"></div>
			<div class="col-4 cabeza">Insertar enlace a otro resultado</div>
			<div class="w-100"></div>
			<div class="col-4 cabeza"><a href="#wiki">Ir a la definición de Wikipedia.</a></div>
			<div class="w-100"></div>
			<div class="col-4 cabeza">frfneifm</div>

			
		</div>
		<div class="row">
				<app-input-frame></app-input-frame>
      <app-wiki-frame id="wiki"></app-wiki-frame>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>



<div class="row">
<div class="col-6">Wiki requester<br>Facultad de ingeniería de telecomuniaciones e informática<br>Soporte y contacto de la aplicación en: <a href="mailto:wikirequester@hotmail.com">Wikirequester@hotmail.com</a></div>
</div>
	</div>

</section>
