<div class="container-fluid">

	

		<div class="row justify-content-md-center">
				<div class="col-md-auto">
			<h1><img src="../assets/icono.png" alt="icono"></h1>
				</div>
				<div class="w-100"></div>
				<div class="row justify-content-md-center"><h1 class="display-1"><a href="javascript:document.location.reload();">WIKI REQUESTER</a></h1></div>

		</div>
		
			<div class="row enlaces">
			<div class="col-4 links border border-primary">Proximas actualizaciones de la Aplicación</div>
			<div class="w-100 "></div>
			<div class="col-4 links border border-primary">Insertar enlace a otro resultado</div>
			<div class="w-100"></div>
			<div class="col-4 links border border-primary final">Palabras más buscadas de Wikipedia</div>
			<div class="w-100"></div>
			

			
		</div>
		
		<div class="row justify-content-md-center">
			<app-input-frame></app-input-frame>
		</div>
		
		<div></div>
		<div class="row mt-3">
		<div class="col-6">Wiki requester<br>Facultad de ingeniería de telecomuniaciones e informática<br>Soporte y contacto de la aplicación en:
			<a href="mailto:Wikirequester@support.com">Wikirequester@support.com</a></div>
		</div>
			
		
	
	</div>