

  <div class="container-fluid">
    <form [formGroup]="checkoutForm" >
    <div class="row botonbuscar">
      <div class="col-4"> <button class="btn btn-success" type="submit" (click)="this.searchFor(checkoutForm.value.word)">Buscar</button></div>
      <div class="col-8"> <input id="word" class="form-control" type="text" formControlName="word"></div>
    
    
        <button class="button" type="submit" (click)="this.searchFor(checkoutForm.value.word,1)">A la fortuna</button>
    
    <div *ngIf="showSpinner">
      Esperando...
    </div>
  </div>
  </form>

 



<div class="row">
  <div class="col-12">
      
<app-wiki-frame [wikiResults]='wikiResults'></app-wiki-frame>
</div>

</div>

</div>